<section class="section" style="background: #dfe;">
  <div class="container mt-3">
  <h1 class="title">
    <p class="has-text-weight-bold has-text-centered">
      口コミを投稿したい店を入力してください
    </p>
  </h1>
    <div class="columns is-centered">
      <div class="column is-8">
        <%= form_with model:@stores, local: true do |f| %>
          <div class="card">
            <div class="card-content">
              <div class="conent mb-3 has-text-centered">
                <span class="icon">
                  <i class="fa fa-building"></i>
                </span>
                <%= f.hidden_field :user_id, value: current_user.id %>
                <%= f.label :name, "店名" %>
                <%= f.text_field :name, placeholder: "店名を入力" %>
              </div>
              <div class="content mb-3 has-text-centered">
                <span class="icon">
                  <i class="fa fa-location-arrow"></i>
                </span>
                <%= f.label :address, "都道府県", class:"reviews_post" %>
                <%= f.collection_select(:address, Prefecture.all, :name, :name,{include_blank: "---"} ) %>
              </div>
              <div class="content has-text-centered">
                <span class="icon">
                  <i class="fa fa-train"></i>
                </span>
                <%= f.label :nearest_station, "最寄駅" %>
                <%= f.text_field :nearest_station, placeholder: "最寄駅を入力" %>
              </div>
            </div>
            <footer class="card-footer"> 
              <%= f.submit "登録", class:"button card-footer-item" %>
              <%= link_to "戻る", :back, class: "button card-footer-item" %>
            </footer>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</section>


<!--
<div>
  <h2>口コミを投稿したい店を入力してください</h2>
</div>
<div class="rating-box mb-3">
  <%= form_with model:@stores, local: true do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.label :name, "店名", class:"reviews_post" %>
    <%= f.text_field :name, placeholder: "店名を入力", class:"reviews_post" %>
    <%= f.label :address, "都道府県", class:"reviews_post" %>
    <%= f.collection_select(:address, Prefecture.all, :name, :name,{include_blank: "---"} ) %>
    <%= f.label :nearest_station, "最寄駅", class:"reviews_post" %>
    <%= f.text_field :nearest_station, placeholder: "最寄駅を入力", class:"reviews_post" %>
    <%= f.submit "登録", class:"col-md-2 btn-primary mx-3"%>
  <% end %>
</div>
-->
