<% content_for(:title, @store.name) %>
<section class="section">
  <div class="container mt-6">
    <div class="columns is-centered">
      <div class="column is-8">
        <div class="store-image is-centered mb-3">
          <figure class="image is-16by9">
            <%= image_tag rails_blob_path(@store.image.attachment), alt: "店画像" %>
          </figure>
        </div>
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <span class="icon">
                <i class="fas fa-building"></i>
              </span>
              <%= @store.name %>
            </p>
            <p class="card-header-title">
              <span class="icon">
                <i class="fas fa-train"></i>
              </span>
              <%= @store.nearest_station %>
            </p>
          </header>
          <div class="card-content">
            <div class="content">
              <script type="text/javascript">
                function initMap() {
                  var test = {lat: <%= @store.latitude %>, lng: <%= @store.longitude %>};
                  var map = new google.maps.Map(document.getElementById('map'), {
                            zoom: 15, 
                            center: test
                            });
                  var transitLayer = new google.maps.TransitLayer();
                  transitLayer.setMap(map);
                  var contentString = '住所:<%= @store.address %>';
                  var infowindow = new google.maps.InfoWindow({
                    content: contentString
                  });
                  var marker = new google.maps.Marker({
                                position:test,
                                map: map,
                                title: contentString
                              });
                  marker.addListener('click', function() {
                    infowindow.open(map, marker);
                  });
                }
              </script>
              <script async defer
                        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV['GOOGLE_MAP_API_KEY'] %>&callback=initMap">
              </script>
              <style type="text/css">
                #map { height: 200px;
                      width: 100%;}
              </style>
              <div id="map"></div>
            </div>
            <div class="content has-text-centered m-3">
              <span class="icon">
                <i class="fas fa-location-arrow"></i>
              </span>
              <%= @store.address %>
            </div>
            <div class="average-score is-centered">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @store.reviews_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @store.avg_score %>点（<%= @store.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
        <%= render 'reviews/form', review: @review, store: @store %>
      </div>
    </div>
  </div>
</section>
