<%= form_for @map do |f| %>
    <div class="field">
    <%= f.label :name, "場所", class: "label" %>
    <%= f.text_field :name, class: "input" %>
    </div>

    <div class="field">
    <%= f.label :address, "住所", class: "label" %>
    <%= f.text_area :address, class: "input" %>
    </div>

    <%= f.submit '投稿', class: "button is-success" %>
<% end %>
