<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
          <p class="is-size-1 has-text-weight-bold has-text-centered">レビューを自由に</p>
          <br>
          <div class="columns is-centered">
            <div class="column is-3">
              <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
              <br>
              <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
            </div>
          </div>
          <div>
            <%= form_with url: search_path, method: :get, local: true do |form| %>
              <%= form.label :search_word, "店名か都道府県を入力してください", class:"reviews_post" %>
              <%= form.text_field :search_word, value: @search_store, :placeholder => "店名もしくは住所を入力して下さい" %>
              <%= form.submit "探す" %>
            <% end %>
            <%= form_with url: reviews_search_path, method: :get, local: true do |form| %>
              <%= form.label :search_instrument_name, "楽器名をを入力してください", class:"reviews_post" %>
              <%= form.select :search_instrument_name, ['Flute, Piccolo', 'Oboe', 'Clarinet', 'Fagot', 'Saxophone', 'Trumpet', 'Horn', 'Trombone', 'Eupfonium', "Tuba", 'その他'], {include_blank: '楽器名を選択してください'}, class: 'sample' %>
              <%= form.submit "探す" %>
            <% end %>
          </div>
      </div>
    </div>
  </div>
</section>
