<section class="section" style="background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.3)), url('<%= asset_path("orchestra.jpg") %>');">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10 slider-title">
        <h1 class="title">
          <p class="is-size-1 has-text-centered" style="font-family: cursive; color: white;">Wind Musical Instrument Review Please</p><br>
        </h1>
        <h2 class="subtitle m-3">
          <p class="has-text-weight-bold has-text-centered has-text-white">
            このサイトは、ユーザーの方の楽器修理、販売等のレビューの投稿により、様々な情報を参考にできるサイトです。プロの楽器演奏者、趣味で楽しむアマチュア楽器演奏者、学校の部活動の顧問の先生、皆様のレビューにより成り立っております。
          </p>
        </h2><br>
        <div class="columns is-centered">
          <div class="column is-3">
          <% unless user_signed_in? %>
            <%= link_to "ログイン", new_user_session_path, class: "button is-fullwidth" %>
            <br>
            <%= link_to "新規登録", new_user_registration_path, class: "button is-fullwidth" %>
            <br>
            <%= link_to 'ゲストログイン', users_guest_sign_in_path, method: :post, class: "button is-fullwidth" %>
          <% end %>
          </div>
        </div>
        <section class="section">
          <div class="columns is-centered has-text-white">
            <div class="column has-text-weight-bold has-text-centered">
              <%= search_form_for @q, url: stores_path, method: :get, local: true do |f| %>
                <%= f.label :name_or_address_cont, "店名または住所を入力してください" %>
                <%= f.search_field :name_or_address_cont %>
                <%= f.submit '検索' %>
              <% end %>
            </div>
            <div class="column has-text-weight-bold has-text-centered">
              <%= search_form_for @search_reviews, url: reviews_search_path, method: :get, local: true do |f| %>
                <%= f.label :instrument_name_eq, "楽器名を選択してください", class:"reviews_post" %></br>
                <%= f.collection_select :instrument_name_eq, Instrument.all, :name, :name,{include_blank: "選択なし(全てのレビューを表示)"} %>
                <%= f.submit "探す" %>
              <% end %>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="title">
    <p class="has-text-weight-bold has-text-centered">
      最近の投稿
    </p>
  </h1>
  <div class="container">
    <div class="columns">
      <% @recent_reviews.each do |review| %>
        <div class="column is-4">
          <div class="card">
              <header class="card-header">
                <p class="card-header-title">
                  <span class="icon">
                    <i class="fas fa-building"></i>
                  </span>
                  <%= link_to "#{review.store.name}", store_reviews_path(review.store_id) %>
                </p>
                <p class="card-header-title">
                  <span class="icon">
                    <i class="fas fa-location-arrow"></i>
                  </span>
                  <%= review.store.address.match(/.*[都道府県]/) %>
                </p>
              </header>
              <div class="card-content">
                <div class="content">
                  <span class="icon">
                    <i class="fas fa-tag"></i>
                  </span>
                  <%= review.reviews_title %>
                </div>
                <div class="content top-page-score">
                  <div class="star-rating mb-2">
                    <div class="star-rating-front" style="width: <%= review.score*20 %>%">
                      ★★★★★
                    </div>
                    <div class="star-rating-back">
                      ★★★★★
                    </div>
                  </div>
                  <div class="average-score-display ml-3 pt-2">
                    <%= review.score %>点
                  </div>
                </div>
                <div class="content">
                  <span class="icon">
                    <i class="fas fa-commenting"></i>
                  </span>
                  <%= review.store_reviews %>
                </div>
                <div class="content has-text-right">  
                  ¥<%= review.store_price %>円
                </div> 
                <div class="content">
                  <% if review.user == nil %>
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    退会したユーザー
                  <% else %>
                    <span class="icon">
                      <i class="fas fa-user"></i>
                    </span>
                    <%= link_to user_path(review.user_id) do %>
                      <%= review.user.name %>
                    <% end %>
                  <% end %>
                </div>
              </div>
              <footer class="card-footer">
                <p class="card-footer-item">
                  <span class="icon">
                    <i class="fas fa-music"></i>
                  </span>
                  <%= review.instrument_name %>
                </p>
                <p class="card-footer-item">
                  <span class="icon">
                    <i class="fas fa-calendar"></i>
                  </span>
                  <%= l review.created_at, format: :short %>
                </p>
              </footer>
          </div>
          <div class="has-text-right p-3" id="top_review">
            <% if user_signed_in? %>
              <% if review.user_id == current_user.id %>
                <td>
                  <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                  <%= link_to "編集", edit_store_review_path(review.store_id, review.id) %>
                </td>
                <td>
                  <i class="fa fa-trash" aria-hidden="true"></i>
                  <%= link_to "削除", store_review_path(review.store_id, review.id), method: :delete, data: { confirm: '口コミを削除しますか？'} %>
                </td>
              <% end %>
            <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
<section class="section">
  <h1 class="title">
    <p class="has-text-weight-bold has-text-centered">
      評価が高い店
    </p>
  </h1>
  <div class="container">
    <div class="columns">
      <% @high_rate_store.each do |store| %>
        <div class="column is-4">
          <div class="card">
            <header class="card-header">
              <p class="card-header-title">
                <span class="icon">
                  <i class="fas fa-building"></i>
                </span>
                <%= link_to "#{store.name}", store_reviews_path(store) %>
              </p>
              <p class="card-header-title">
                <span class="icon">
                  <i class="fas fa-location-arrow"></i>
                </span>
                <%= store.address.match(/.*[都道府県]/) %>
              </p>
            </header>
            <div class="card-content">
              <div class="content top-page-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= store.reviews_score_percentage %>%">
                    ★★★★★
                  </div>
                  <div class="star-rating-back">
                    ★★★★★
                  </div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= store.avg_score %>点<br>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>
