<p class="is-size-4 mb-3 has-text-centered">口コミを編集する</p>

<%= render "shared/errors", object: review %>

<div class="rating-box mt-3 has-text-centered">
  <%= form_with model: [@store, @review], url: store_review_path(store), local: true do |f| %>
    <span class="icon">
      <i class="fa fa-tag"></i>
    </span>
    <%= f.label :reviews_title, "タイトル", class:"" %>
    <%= f.collection_select(:reviews_title, Title.all, :name, :name,{include_blank: "---"}) %><br>
    <span class="icon">
      <i class="fa fa-music"></i>
    </span>
    <%= f.label :instrument_name, "楽器名", class:"" %>
    <%= f.collection_select(:instrument_name, Instrument.all, :name, :name,{include_blank: "---"} ) %><br>
    <span class="icon">
      <i class="fa fa-money"></i>
    </span>
    <%= f.label :store_price, "料金", class:"" %>
    <%= f.number_field :store_price, min:0, placeholder: "料金を入力", class:"" %>
    <div class="main-rating mt-2 star">
      <div class="ratings mb-2">
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      <span class="fa fa-star-o" id="star"></span>
      </div>
      <div class="ml-3 rating-value-display">
        <span id="rating-value-display">0</span>/5
      </div>
    </div>
    <%= f.hidden_field :review_id, value: review.id %>
    <%= f.hidden_field :store_id, value: store.id %>
    <%= f.hidden_field :score, id: "rating-value" %>
    <%= f.text_area :store_reviews, class:"textarea" %>
    <%= f.submit "編集する", class: "button mt-3"%>
    <%= link_to "レビュー一覧に戻る", store_reviews_path(store.id, review.id), class: "button light ml-3 mt-3" %>
  <% end %>
</div>

<%= javascript_include_tag "reviews.js" %>
