<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column">
        <div class="card mb-6">
          <header class="card-header">
            <p class="card-header-title">
              <%= @store.name %>
            </p>
            <p class="card-header-title">
              <%= @store.address %>
            </p>
            <p class="card-header-title">
              <%= @store.nearest_station %>
            </p>
          </header>
          <div class="card-content">
            <div class="content average-score">
              <div class="star-rating mb-2">
                <div class="star-rating-front" style="width: <%= @store.reviews_score_percentage %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
              <div class="average-score-display ml-3 pt-2">
                <%= @store.avg_score %>点（<%= @store.reviews.count %>件のレビュー）
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<h1 class="title">
  <p class="has-text-weight-bold has-text-centered">
    口コミ
  </p>
</h1>
<section class="section" style="background: white;>
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-10">
        <% @reviews.each do |review| %>
          <div class="card mb-6">
            <div class="card-content">
              <div class="content top-page-score">
                <div class="star-rating mb-2">
                  <div class="star-rating-front" style="width: <%= review.score*20 %>%">
                    ★★★★★
                  </div>
                  <div class="star-rating-back">
                    ★★★★★
                  </div>
                </div>
                <div class="average-score-display ml-3 pt-2">
                  <%= review.score %>点
                </div>
              </div>
              <div class="content">
                <%= review.store_reviews %>
              </div>
              <div class="content">
                ¥<%= review.store_price %>円
              </div>
            </div>
            <footer class="card-footer">
              <p class="card-footer-item">
                <%= review.user.name %>
              </p>
              <p class="card-footer-item">
                <%= review.instrument_name %>
              </p>
              <p class="card-footer-item">
                <%= l review.created_at, format: :short %>
              </p>
            </footer>
          </div>
        <% end %>
      </div> 
    </div>
  </div>
</section>
<%= link_to stores_path, class: "button card-footer-item" do %>
  他のレビューを見る
<% end %>
<%= link_to root_path, class: "button card-footer-item" do %>
  Topページに戻る
<% end %>
