<div class= "header">
  <div>
    <h3>
      <%= link_to "管楽器屋さん口コミサイト", homes_index_path, class: "header-nav" %>
    </h3>
  </div>
  <div>
    <%= link_to "Home", homes_index_path, class: "header-nav" %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "設定", users_edit_path, class: "header-nav" %>
    <% else %>
      <%= link_to "about", homes_about_path, class: "header-nav" %> 
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "header-nav" %>
    <% else %>
      <%= link_to "ログイン", new_user_session_path, class: "header-nav" %>
      <%= link_to "新規登録", new_user_registration_path, class: "header-nav" %>    
    <% end %>
  </div>
  <div>
    <% if user_signed_in? %>
      <%= link_to current_user.name + "さん", "/users/#{current_user.id}" %>
    <% end %>
  </div>
</div>
